@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  padding: 0 15px;
  /* display: flex;
  flex-flow: row nowrap; */
}
/* Скрыть точки на графиках Recharts */
.chart-pane .recharts-line .recharts-dot,
.chart-pane .recharts-active-dot {
  display: none;
}
